<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Product Directory</title>
</head>

<body>

<div class="container">

	<h3>Product Directory</h3>
	<a th:href="@{/companys/list}">Go to Company</a>
	<hr>
	
	<!-- Add button -->
	<a th:href="@{/products/add}"
		class="btn btn-primary btn-sm mb-3">
		Add Product
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Product Name</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempProduct : ${products}">
			
				<td th:text="${tempProduct.name}" />	
				<td th:text="${tempProduct.qty}" />	
				<td th:text="${tempProduct.price}" />	
				<td>
			
					<a th:href="@{/products/update(Id=${tempProduct.id})}"
						class="btn btn-info btn-sm">
						Update
					</a>
				
					<!-- Delete button/link -->					
					<!-- Delete button/link -->					
					<a th:href="@{/products/delete(Id=${tempProduct.id})}"
						class="btn btn-danger btn-sm"
						onClick="if (!(confirm('Are you sure you want to delete this product?'))){false}">
						Delete
					</a>
				</td>
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



